<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016597708125-3gc3038bsp2o1ksnmbhip4csv75insq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016597708125-3gc3038bsp2o1ksnmbhip4csv75insq7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1016597708125-tt4v5u76dg1t00d370qen2olovddf9q8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQal4TNVwuvM17nBJFaCOIynw4PNJ-YPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1016597708125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KhalilSalim.Sawa</string>
	<key>PROJECT_ID</key>
	<string>sawa121-f40ed</string>
	<key>STORAGE_BUCKET</key>
	<string>sawa121-f40ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016597708125:ios:2d4df5a19a3717115cbcb4</string>
</dict>
</plist>