<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415506506148-lqsuq27ppjvqbp30kf645ntodlgenkit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415506506148-lqsuq27ppjvqbp30kf645ntodlgenkit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415506506148-05uls7jl66kh77poijqh3icqg486vufe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy_5IIBQwK3HhAAk5krSaGbwm5bgTNWn8</string>
	<key>GCM_SENDER_ID</key>
	<string>415506506148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KhalilSalim.Sawa</string>
	<key>PROJECT_ID</key>
	<string>sawa-acdc4</string>
	<key>STORAGE_BUCKET</key>
	<string>sawa-acdc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415506506148:ios:9c807a7c8540e29cb2e131</string>
</dict>
</plist>